.ListOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: masonry;
  gap: 0 16px;
  align-items: center;
  min-height: 100vh;
}

.ListOfGifs-item {
  background-color: #eee;
  display: inline-block;
  width: 100%;
}