.form {
    max-width: 320px;
    width: 100%;
}

.form label {
    display: block;
    margin-bottom: 4px;
}

.form input {
    background: #fff;
    border: none;
    display: block;
    line-height: 2;
    font-size: 16;
    width: 100%;
    padding: 0 8px;
    margin-bottom: 16px;
    margin-top: 4px;
}

.form .btn {
    width: 100%;
}